// Color Palette
$body: #F5F5F5;
$primary-gold: #FFB342;
$primary-navy: #1C2752;
$light-navy: #4B557D;
$white: #FFF;
$white-darker: #FFFFFE;
$white-darker-2: #eaeaea;
$medium-gray: #7E7E7E;
$new-gray: #F4F4F4;
$light-gray-1: #EEEEEE;
$light-gray-2: #D2D2D2;
$dark-gray: #222222;
$light-gray-3: #CCCCCC;
$light-gray-4: #D7D7D7;
$light-gray-5: #DCDCDC;
$secondary-gold: #FFC368;
$light-gray-6: #DDDDDD;
$dim-white: rgba(255, 255, 255, 0.2);
$dim-navy: rgba(28, 39, 82, 0.86);

$opacity-40: 40%;
$opacity-86: 86%;
$opacity-20: 20%;